<div class="container-fluid">
    <div class="row">
        <div class="col-md-8" style="width: 100%;">
            <button class="btn btn-lg btn-outline-primary" (click)="open(content);">Add New</button>
          <br /><br />
          <div class="table-responsive">
            <table id="mytable" class="table table-bordred table-striped">
              <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Hobbies</th>
                <th>Gender</th>
                <th>City</th>
                <th>Age</th>            
                <th>Action</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of studentList">
                  <td>{{item.firstName}}</td>
                  <td>{{item.lastName}}</td>
                  <td>{{item.hobbies}}</td>
                  <td>{{item.gender}}</td>              
                  <td>{{item.city}}</td> 
                  <td>{{item.age}}</td> 
                  <td><button class="btn  btn-outline-primary"  (click)="open(content); editStudent()">Edit</button></td>
                  <td><button class="btn  btn-outline-primary" (click)="deleteStudent(item._id)" >Delete</button></td>
                </tr>
              </tbody>
            </table>
    
          </div>
        </div>
      </div>
</div>

 <!-- -----------------------Form------------------------ -->
 <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Student Details</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form class="px-4 py-3" [formGroup]="studentData" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="">First Name:</label>
              <input type="text" class="form-control"  value="firstName" formControlName="firstName"  id="firstName" placeholder="firstName" autocomplete="">
            </div>
            <div class="mb-3">
                <label for="">Last Name</label>
                <input type="text" class="form-control" formControlName="lastName" id="lastName" placeholder="lastName" autocomplete="">
            </div>
            <div class="mb-3">
                <label for="">Hobbies:</label>
                <!-- <div class="form-check form-check-inline">
                    <input
                      mdbCheckbox
                      class="form-check-input"
                      type="checkbox"
                      id="inlineCheckbox1"
                      value="sports"
                      formControlName="sports"
                    />
                    <label class="form-check-label" for="inlineCheckbox1">Sports</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      mdbCheckbox
                      class="form-check-input"
                      type="checkbox"
                      id="inlineCheckbox2"
                      value="playing"
                      formControlName="playing"
                    />
                    <label class="form-check-label" for="inlineCheckbox2">Playing</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      mdbCheckbox
                      class="form-check-input"
                      type="checkbox"
                      id="inlineCheckbox3"
                      value="music"
                      formControlName="music"
                    />
                    <label class="form-check-label" for="inlineCheckbox3">Music</label>
                  </div> -->
                  <div *ngFor="let hobbies of hobbies">
                    <input type="checkbox" formControlName="hobbies" value="hobbies">
                    <span>{{hobbies}}</span>
                </div>
            </div>
            <div class="mb-3">
                <label for="">Gender:</label>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" formControlName="gender" id="Female" name="Female" value="Female" mdbInput>
                    <label class="custom-control-label" for="Female">Female</label>
                  </div>
                  <!-- Default checked -->
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" formControlName="gender" id="Male" name="Male" value="Male" checked mdbInput>
                    <label class="custom-control-label" for="Male">Male</label>
                  </div>
            </div>
            <div class="mb-3">
                <label for="">City:</label>
                <select class="browser-default custom-select form-control" formControlName="city">
                    <option selected>City</option>
                    <option value="surat">surat</option>
                    <option value="vadodara">vadodara</option>
                    <option value="ahmedabad">ahmedabad</option>
                  </select>
                
            </div>
            <div class="mb-3">
                <label for="">Age</label>
                <input type="number" class="form-control" formControlName="age" id="Age" placeholder="Age" autocomplete="">
            </div>
           
     
          </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="addStudent(); modal.close('Save click')">save</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">cancle</button>
    </div>
  </ng-template>
  